# Creating testing data

In [35]:
import pandas as pd
import numpy as np
import plotly.express as px

In [36]:
np.random.seed(42) # We set the seed to 42 so that we can reproduce the results.
N_0_1 = pd.DataFrame(np.random.normal(0, 1, size=(1000, 1)), columns=['A']) # Creating contineuos data, this column is normally distributed.
N_0_50 = pd.DataFrame(np.random.exponential(5, size=(1000, 1)), columns=['B']) # This column is exponentially distributed.
random_float = pd.DataFrame(np.random.rand(1000,1)*10, columns=['C']) # 1 column is random data.
discrete = pd.DataFrame(np.random.randint(0, 50, size=(1000, 1)), columns=['D']) # 1 column is random but discrete data.

df = pd.concat((N_0_1, N_0_50, random_float, discrete), axis=1)
df.index.name = "ID" # We set the index name to ID because it is a general name for the index of a dataset.
df.head()

           A         B         C   D
ID
0   0.496714  0.916506  2.190688  48
1  -0.138264  0.552244  0.367214  44
2   0.647689  5.058921  1.080258  17
3   1.523030  6.128975  3.388606   1
4  -0.234153  0.160479  8.025857  12

In [37]:
## Creating a multi-indexed dataframe
second_idx = pd.Series([x for x in range(1,1001)])
df_multi_idx = df.copy()
df_multi_idx['2nd ID'] = second_idx
df_multi_idx.set_index(['2nd ID'], append=True, inplace=True)
df_multi_idx.head()

                  A         B         C   D
ID 2nd ID
0  1       0.496714  0.916506  2.190688  48
1  2      -0.138264  0.552244  0.367214  44
2  3       0.647689  5.058921  1.080258  17
3  4       1.523030  6.128975  3.388606   1
4  5      -0.234153  0.160479  8.025857  12

In [38]:
# # Creating the csv and xlsx files
# df.to_csv('imputation_example.csv')
# df.to_excel('imputation_example.xlsx')

# df_multi_idx.to_csv('imputation_example_multi_idx.csv')
# df_multi_idx.to_excel('imputation_example_multi_idx.xlsx')

                  A         B         C   D
ID 2nd ID
0  1       0.496714  0.916506  2.190688  48
1  2      -0.138264  0.552244  0.367214  44
2  3       0.647689  5.058921  1.080258  17
3  4       1.523030  6.128975  3.388606   1
4  5      -0.234153  0.160479  8.025857  12